@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);

  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  font-family: "Bai Jamjuree", sans-serif;
}
.container {
  text-align: center;
  margin: 20px;
  color: var(--dark-grayish-blue);
}

.container img {
  width: 100%;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.container h3 {
  color: var(--grayish-blue);
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 2.5rem;
}

.container h4 {
  color: var(--grayish-blue);
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 2.5rem;
}

.one {
  margin-top: 7rem;
  margin-bottom: 8rem;
}

.one img {
  margin-bottom: 15%;
  width: 35%;
}

button {
  width: 100%;
  height: 3.3rem;
  display: block;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  outline: none;
  border: none;
  color: white;
  border-radius: 100px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: -1px 7px 5px -2px rgba(107, 103, 107, 1);
}

.btn-ios {
  background-color: var(--strong-cyan);
}

.btn-mac {
  background-color: var(--light-blue);
}

.btn-ios:hover {
  background-color: var(--hover-cyan);
}

.btn-mac:hover {
  background-color: var(--hover-blue);
}

.two {
  margin-bottom: 4rem;
}

.three {
  margin-bottom: 10rem;
}

.three img {
  margin-bottom: 2rem;
}

.three h3 {
  color: var(--dark-grayish-blue);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.three h4 {
  margin-bottom: 3rem;
  font-size: 1rem;
}

.five img {
  margin-top: 0.5rem;
}

.five {
  margin-bottom: 8rem;
}

.six {
  margin-bottom: 6rem;
}

.seven img {
  width: 15%;
  margin-bottom: 2.5rem;
}

.seven h3 {
  color: var(--dark-grayish-blue);
  font-weight: 600;
  margin-bottom: 1rem;
}

.seven {
  margin-bottom: 8rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eight img {
  width: 40%;
  margin-bottom: 4rem;
}

.eight {
  margin-bottom: 8rem;
}

footer {
  margin-top: 10rem;
  background-color: var(--footer-gray);
  padding: 2rem;
  text-align: center;
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  font-weight: 500;
}

footer img {
  width: 15%;
  margin-bottom: 2rem;
}

footer div ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin-bottom: 2rem;
}

footer div ul li {
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

footer a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  transition: 0.3s;
}

footer div ul li a:hover {
  color: var(--strong-cyan);
}

.social-media {
  width: 60%;
}

.social-media svg {
  margin-bottom: 0;
  cursor: pointer;
  fill: var(--social-media-gray);
  transition: 0.3s;
}

.social-media a {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.social-media svg:hover {
  fill: var(--strong-cyan);
}

.twitter {
  margin: 0 1.5rem;
}

@media only screen and (min-width: 1100px) {
  body {
    background-image: url(./images/bg-header-desktop.png);
    background-size: contain;
  }

  .one img {
    width: 8%;
    margin-bottom: 3rem;
  }

  .container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: inline-block;
    width: 30%;
    margin-right: 1rem;
  }

  .three {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: start;
    display: flex;
    align-items: center;
  }

  .item-one img {
    min-width: 600px;
    transform: translateX(-5%);
  }

  .item-two {
    margin: 0 5rem 6rem 5rem;
  }

  .seven img {
    width: 15%;
  }

  .seven {
    flex-direction: row;
    width: 90%;
  }

  .item {
    width: 30%;
    height: 180px;
  }

  .seven h4 {
    margin: 0 3rem 0 3rem;
  }

  .eight {
    flex-direction: row;
  }

  .eight img {
    margin-right: 5rem;
  }

  footer .flex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer img {
    width: 5%;
    margin-bottom: 0;
  }

  footer div ul {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-left: 20%;
    display: flex;
    column-count: 3;
    flex-wrap: wrap;
    text-align: start;
  }

  footer div ul li {
    margin-right: 3rem;
    width: 20%;
  }

  .social-media {
    width: 25rem;
    float: right;
  }

  .social-media svg {
    width: 1.5rem;
  }
}

@media only screen and (min-width: 430px) and (max-width: 750px) {
  footer img {
    width: 5rem;
  }

  .social-media {
    width: 25rem;
  }
  .social-media svg {
    width: 1.5rem;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1100px) {
  footer img {
    width: 4rem;
  }

  footer div ul li {
    font-size: 1.3rem;
  }

  .social-media {
    width: 30rem;
  }

  .twitter {
    margin: 0 2.5rem;
  }

  .social-media svg {
    width: 2rem;
  }

  .container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .container h1 {
    font-size: 4rem;
  }

  .container h2 {
    font-size: 3rem;
  }

  .container h3 {
    font-size: 2rem;
  }

  .container h4 {
    font-size: 1.5rem;
  }

  button {
    height: 5rem;
    font-size: 2rem;
  }

  .eight img {
    width: 30%;
    margin-bottom: 5rem;
  }
}
